.ForecastDay_preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.forecastHour{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}