/* CityProposal.css */

/* Style for the container */
.city-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style for individual city items */
.city-item {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the city item when it is selected */
.city-item-selected {
    color: #9bdfff;
}