/* CurrentWeather.css */

/* Style for the container div */
.current-weather-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Style for location header */
.location-header {
  font-size: 24px;
  margin: 0;
  color: #245c8d;
}

/* Style for location region and country */
.location-region {
  font-size: 16px;
  color: #777;
}

/* Style for temperature */
.temperature {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}

/* Style for condition icon */
.condition-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

/* Style for the Show/Hide button */
.toggle-button {
  background-color: rgb(60, 153, 235);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style for the advanced weather info */
.advanced-info {
  margin-top: 20px;
}

/* Style for individual weather info items */
.weather-info-item {
  margin-top: 5px;
  font-size: 18px;
  color: #333;
}

.favourite-btn {
  background-color: rgb(60, 153, 235);
  box-shadow: 2px 2px 2px #0000;
  border: none;
  border-radius: 10%;
  color: #ffffff;
}

.favourite-btn:hover {
  background-color: #9bdfff;
  box-shadow: 0.5px 0.5px 0.5px #0000;
  border: none;
  border-radius: 2%;
  color: #ffffff;
}

.advanced-btn {
  background-color: #ecf5fd;
  box-shadow: 2px 2px 2px #0000;
  border: none;
  border-radius: 5%;
  color: #245c8d;
}

.advanced-btn:hover {
  background-color: #9bdfff;
  box-shadow: 0.5px 0.5px 0.5px #0000;
  border: none;
  border-radius: 5%;
  color: #245c8d;
}

/* Media query for screens with a maximum width of 390px (mobile phones) */
@media (max-width: 390px) {
  .current-weather-container {
    padding: 10px;
  }

  .current-weather-container {
    padding: 10px;
  }

  .location-header {
    font-size: 20px;
  }

  .location-region {
    font-size: 14px;
  }

  .temperature {
    font-size: 28px;
    margin-top: 5px;
    overflow: hidden;
  }

  .condition-icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    overflow-x: hidden;
  }

  .toggle-button {
    padding: 3px 8px;
    font-size: 14px;
    margin-top: 5px;
  }

  .advanced-info {
    margin-top: 10px;
  }

  .weather-info-item {
    font-size: 16px;
  }
}
