/* global.css */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: "#E9EDDE";
  display: flex;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #9bdfff;
}

.contents_body {
  margin-top: 120px;
}